.shopcategory-banner{
    display: block;
    margin: 10px 80px;
    width: 100%;
}
.shopcategory-indexSort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}
.shopcategory-sort{
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px 50px;
    gap: 15px;

}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #747474;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        margin: auto;
        width: 90%;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        margin: 10px auto;
        width: 90%;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media (max-width:800px){
    .shopcategory-banner{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-loadmore{
        width: 150px;
        height: 40px;
        font-size: 13px;
        margin: 60px auto;
    }
}
@media (max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}